---
layout: about
permalink: /about/index.html
---

<div class="about">
    <h4 class="title">Joaquin Garmendia Cabrera</h4>
    <div class="content">
        <img itemprop="image" src="{{ '/assets/img/tirandofacha.jpg' | prepend: site.baseurl }}"
             alt="Joaquin Garmendia">
        <div class="icons-home-about">
            <a aria-label="Send email" href="mailto:{{site.email}}">
                <svg class="icon icon-email">
                    <use xlink:href="#icon-email"></use>
                </svg>
            </a>
            <a aria-label="My Google Plus" target="_blank" href="https://aur.archlinux.org/packages/?O=0&SeB=M&K={{site.archlinux_username}}&outdated=&SB=n&SO=a&PP=50&do_Search=Go">
                <svg class="icon icon-archlinux">
                    <use xlink:href="#icon-archlinux"></use>
                </svg>
            </a>
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt">
                    <use xlink:href="#icon-github-alt"></use>
                </svg>
            </a>
            <a aria-label="My Stackoverflow" target="_blank" href="https://stackoverflow.com/users/{{site.stackoverflow_username}}">
                <svg class="icon icon-stackoverflow">
                    <use xlink:href="#icon-stackoverflow"></use>
                </svg>
            </a>
            <a aria-label="My Coderfoces" target="_blank" href="http://codeforces.com/profile/{{site.codeforces_username}}">
                <svg class="icon icon-codeforces">
                    <use xlink:href="#icon-codeforces"></use>
                </svg>
            </a>
            <a aria-label="My Goodreads" target="_blank" href="https://www.goodreads.com/user/show/{{site.goodreads_username}}">
                <svg class="icon icon-goodreads">
                    <use xlink:href="#icon-goodreads"></use>
                </svg>
            </a>
        </div>
        <p>I'm a Computer Science Student at <a href="https://ucsp.edu.pe">Universidad Catolica San Pablo</a>. My favorite
            areas are Data Structures and Algorithms. Also, I've been a Linux Enthusiast for four years.
        </p>
    </div>
</div>

<main id="scroll" class="about-skills" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div class="skill-list">
        <h2><i class="fa fa-graduation-cap"></i> Academic Activities</h2>
        <div class="row">
            <div class="skill">
                <p>Competitive Programming</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>Contestant <span class="time">2014 - 2017</span></p>
                        <li>It helped me to develop my skills principally  in problem solving, mathematics and debugging.
                        Also, it teach me teamwork.</li>
                    <p>Coach & Instructor of Competitive Programming <span class="time">2017 - Present</span><br></p>
                        <li>Teaching helped me in try to find the way to express my ideas clearly</li>
                        <li>Contents can be found <a href="https://joaquingx.github.io/competitive">here</a></li>

                    <p>Participation in Programming Competitive Camps:<br>
                        <a href="http://maratona.ic.unicamp.br/MaratonaVerao2015/inscricoes.html">Brasil 2015</a>,
                        <a href="https://sites.google.com/site/trainingcampargentina2016/english">Argentina 2016</a> &
                        <a href="http://maratona.ic.unicamp.br/MaratonaVerao2017/">Brasil 2017</a>
                    </p>
                    <!--<p>I'm </p>-->
                </div>
                <!--<div class="time">-->
                    <!--<p>2016-Present</p>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div class="skill">
                <p><a href="https://www.facebook.com/ACMUCSP">ACM Chapter</a></p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>Chair <span class="time">Aug 2017 - Aug 2018</span></p>
                        <li>Chair position helped me to develop management skills, learn to work with multidisciplinary teams and
                        spread Computer Science through events, workshops, contests, etc.</li>
                    <p>Member <span class="time">2014 - Present</span></p>
                    <p> What does the chapter?
                    <li>Open Source Events: <a href="https://www.facebook.com/ACMUCSP/posts/773058602880870">Hacktoberfest</a>,
                        <a href="https://www.facebook.com/ACMUCSP/posts/827461190773944">GsoC</a></li>
                    <li>Education Events: <a href="https://www.facebook.com/events/1893857424263671/">Scholar
                        Programming Contest(CEP)</a>, <a href="https://www.facebook.com/ACMUCSP/posts/778042595715804">Hour
                        of Code</a></li>
                    <li>Competitive Programming Events: <a href="https://www.facebook.com/ACMUCSP/photos/a.358430224343712.1073741828.358389634347771/358430331010368/?type=3&theater">Programming Camp 2015</a></li>
                    </p>
                    <small>(These aren't all the events of the Chapter, I just mention the ones that I participate more)</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="skill">
                <p>Top Third of School<br> Overall Average: 15.38/20</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>
                        Some interesting stuff that I developed:
                        <li>Huffman coder and decoder</li>
                        <li>Webpage to handle market inventary, developed in Revel(Go), and another really similar developed
                        in Django(Python)</li>
                        <li>A Visualizationt related to ants, you can learn more about it below</li>
                        <li>A small RDBMS that accepts SQL-like querys</li>
                        <li>A distributed graph system with redundancy, and a custom communication protocol, using c(sockets)</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-list">
        <h2><i class="fa fa-file-code-o"></i> Projects</h2>
            <div class="row">
                <div class="skill">
                    <p><a href="https://github.com/joaquingx/huffman">Contribution to Open Source</a></p>
                </div>
                <div class="content">
                    <div class="desc">
                        <p>I really like to contribute on Open Source Projects!.
                            <li>I contributed to learning projects like <a href="https://github.com/e-maxx-eng/e-maxx-eng/commits?author=joaquingx">e-maxx-eng</a> and
                                <a href="https://github.com/joowani/binarytree/commits?author=joaquingx">binarytree</a></li>
                            <li>I help to maintain and create <a href="https://wiki.archlinux.org/index.php/PKGBUILD">PKGBUILDS</a> of my favorite software. <a href="https://aur.archlinux.org/packages/?O=0&SeB=M&K={{site.archlinux_username}}&outdated=&SB=n&SO=a&PP=50&do_Search=Go">Contributions in AUR Archlinux</a></p></li>
                            <li>I have some <a href="http://lkml.iu.edu/hypermail/linux/kernel/1710.0/00179.html">minor contribution</a> to Linux Kernel</li>
                        <li>I also try to help in <a href="https://stackoverflow.com/users/8852408/gioconda?tab=profile">StackOverFlow</a></li><br/><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill">
                    <p><a href="https://joaquingx.github.io/gAntz.html">gAntz</a></p>
                </div>
                <div class="content">
                    <div class="desc">
                        A visualization that helps to hunt alate Ant Queens,
                            using structured data from <a href="https://antweb.org/api.do">AntWeb API</a> and crawled data from <a href="http://lamarabunta.org">lamarabunta</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="skill">
                    <p><a href="https://github.com/joaquingx/huffman">Huffman D&C</a></p>
                </div>
                <div class="content">
                    <div class="desc">
                        <p> A Demonstration of Huffman Algorithm working on any box</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="skill-list">
        <h2><i class="fa fa-terminal"></i> Technology</h2>
        <div class="row">
            <div class="skill">
                <p>Operating System</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>Linux & Windows</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="skill">
                <p>Languages</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p> Spanish, C++, Python, Go & English</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="skill">
                <p>Web</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>Javascript, Scrapy, Leaflet, Gulp, Stylus & JSON</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="skill">
                <p>Other</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>Bash, GNU awk, GNU sed, Emacs, LaTeX, PostgreSQL</p>
                </div>
            </div>

        </div>
    </div>
    <div class="skill-list">
        <h2><i class="fa fa-angellist"></i> Personal Interests</h2>
        <div class="row">
            <div class="skill">
                <p>|</p>
            </div>
            <div class="content">
                <div class="desc">
                    <p>I like to practice <a href="https://i.imgur.com/ww8biRA.jpg">Muay Thai</a></p>
                    <p><a href="https://www.goodreads.com/review/list/54131961-joaquin-garmendia?utf8=%E2%9C%93&shelf=favorites&title=joaquin-garmendia&sort=title&order=a">Favorite books</a></p>
                    <p>I'm trying to hunt an alate ant queen!, not luck yet.</p>
                    <p style="color:white;"><a style="color:white;" href="https://en.wikipedia.org/wiki/Charly_Garc%C3%ADa">God</a> exists</p>
                </div>
            </div>
        </div>
    </div>
</main>


{% if jekyll.environment == "production" %}
     {% include analytics.html %}
{% endif %}
