---
layout: minimal
title: "Competitive Programming 2018-1"
permalink: /competitive201801/index.html
image: '/assets/img/series.png'
description: "Class Resources"
---

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/britecharts@2.9.2/dist/bundled/britecharts.min.js"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>


<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
       {% if post.categories[0] == "competitive201801" %}
            <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                {{post.content}}
                <div class=" {{ post.categories[0] | append: post.categories[1]}}"></div>
            </article>
        {% endif %}
    {% endfor %}
</main>

<script>
    createData(".competitive201801","final201801");
</script>