<h1 class="title-pen"> Perfil de Usuario <span> TUQKU</span></h1>
<div class="user-profile">
    <img class="avatar" src="{{include.image}}" alt="Ash" />
    <div class="username">{{include.name}}</div>
    <div class="bio">
        {{include.bio}}
    </div>
    <div class="description">
        {{include.desc}}
    </div>
    <ul class="data">
        <li>
            <span class="entypo-heart">{{include.skill1}}</span>
        </li>
    </ul>
    <ul class="data">
        <li>
            <span class="entypo-heart">{{include.skill2}}</span>
        </li>
    </ul>
    <ul class="data">
        <li>
            <span class="entypo-heart">{{include.skill3}}</span>
        </li>
    </ul>
</div>