<section class="user" itemprop="user">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" height="250" width="250" src="{{site.baseurl}}/assets/img/asange.jpeg" alt="{{site.name}}">
        <h3 class="name">
            <a itemprop="name" href="/asange"> Julian Assange </a>
        </h3>
        <p class="desc"> Base de Datos II 🏅🏅</p>
        <p class="desc"> Seguridad Informatica</p>
        🏅🏅🏅🏅<p class="desc"> Algoritmos y Estructuras de Datos 🏅🏅🏅</p>
    </div>
</section>

<section class="user" itemprop="user">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" height="250" width="250" src="{{site.baseurl}}/assets/img/ale.png" alt="{{site.name}}">
        <h3 class="name">
            <a itemprop="name" href="/ale">Ramon</a>
        </h3>
        <p class="desc"> Diseno de interiores 🏅🏅</p>
        <p class="desc"> Manualidades 🏅</p>
    </div>
</section>

<section class="user" itemprop="user">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" height="250" width="250" src="{{site.baseurl}}/assets/img/logan.png" alt="Logan">
        <h3 class="name">
            <a itemprop="name" href="/logan">Logan</a>
        </h3>
        <p class="desc"> Secretos para la inmortalidad 🏅🏅🏅🏅</p>
        <p class="desc"> Reglas del adamantio 🏅🏅 🏅</p>
    </div>
</section>

<section class="user" itemprop="user">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" height="250" width="250" src="{{site.baseurl}}/assets/img/morty.jpg" alt="{{site.name}}">
        <h3 class="name">
            <a itemprop="name" href="/morty">Morty</a>
        </h3>
        <p class="desc"> Viajes intergalacticos 🏅🏅</p>
        <p class="desc"> Dimensiones Paralelas 🏅</p>
    </div>
</section>

<section class="user" itemprop="user">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" height="250" width="250" src="{{site.baseurl}}/assets/img/rick.jpg" alt="{{site.name}}">
        <h3 class="name">
            <a itemprop="name" href="/rick.html">Rick</a>
        </h3>
        <p class="desc"> Matematica Interdimensional 🏅🏅🏅🏅🏅🏅🏅</p>
        <p class="desc"> Historia Interplaneataria🏅🏅🏅🏅🏅</p>
        <p class="desc"> Seres multi-personales 🏅🏅🏅🏅🏅🏅</p>
        <p class="desc"> Dimensiones alternativas con condiciones propicias🏅🏅🏅🏅</p>
    </div>
</section>

<section class="user" itemprop="user">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" height="250" width="250" src="{{site.baseurl}}/assets/img/ssj5.jpg" alt="{{site.name}}">
        <h3 class="name">
            <a itemprop="name" href="/ssj">Kakaroto</a>
        </h3>
        <p class="desc"> Kaioken Basico 🏅🏅</p>
        <p class="desc"> Onda Vital a todo gas 🏅</p>
    </div>
</section>

