html,
body
	height 100%

.down
	position absolute
	bottom 10%
	width 100%
	display block
	text-align center
	.icon
		align(both)
		size(50,50)
		fill sec
		animation pulse 1.3s infinite
$bg
	position relative
	background main
	height 45%
	.content
		width 100%
		align(both)



// Header home
.header-site
	a
		text-decoration none
		color sec
	@extends $bg
	h1,h2
		color: sec
		text-align center
	.site-title
		cuteFont(200)
		font-size rem(15px)
		line-height 1
		display block
	.site-description
		hackFont(20)
		font-size rem(20px)
		display block
		margin rem(10px) 0

// Header Post
.header-post
	@extends $bg
	.content
		center(1000px)
		text-align center
	//.subheader
	//	display table
	//	padding 20px
	//	a
	//		border 2px solid sec
	//		border-radius 20px
	//		padding 0 10px
	//		+above(cut)
	//			padding 0 10px
	.date
		cuteFont(0)
		font-size rem(16px)
	h1
		cuteFont(100)
		font-size rem(30px)
		margin 0 0 30px
	.subtitle
		mainFont(300)
		font-size rem(20px)
	h1,.subtitle, .date
		color sec
	p
		color sec
		text-decoration none
		mainFont(300)
		font-size rem(18px)