.post-item
    text-align left
    padding rem(20px) 0
    border-bottom 3px solid lightGray
    center(rem(1200px))
    +below(rem(1000px))
        padding-left rem(20px)
        padding-right rem(20px)
    .datetime
        col(1/7)
        text-align center
        text-decoration none
        +below(cut)
            stack()
        .day
            mainFont(800)
            color main
            font-size rem(50px)
            line-height 3
            stack()
        .month-year
            color black
            stack()
            font-size rem(10px)
    .content
        line-height 2.5
        col(6/7)
        +below(cut)
            stack()
        a
            text-decoration none
        .date
            color black
        .post-title
            //mainFont(550)
            color skimblack
            font-size rem(20px)
            +below(cut)
                text-align center
        .description
            color texts
            mainFont(300)
            font-size rem(14px)
            text-align justify
            a
                color main
                text-decoration none